/* @import url(//db.onlinewebfonts.com/c/eb289d26afbfd6114ddfdc053113218e?family=LPMQ+Isep+Misbah); */

@font-face {
  font-family: "LPMQ Isep Misbah";
  /* src: url("//db.onlinewebfonts.com/t/eb289d26afbfd6114ddfdc053113218e.eot"); */
  src: url("//db.onlinewebfonts.com/t/eb289d26afbfd6114ddfdc053113218e.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/eb289d26afbfd6114ddfdc053113218e.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/eb289d26afbfd6114ddfdc053113218e.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/eb289d26afbfd6114ddfdc053113218e.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/eb289d26afbfd6114ddfdc053113218e.svg#LPMQ Isep Misbah")
      format("svg");
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;700&display=swap");

a {
  text-decoration: none !important;
  z-index: 9999;
}

:root {
  --primary: #672cbc;
  --secondary: #9345f2;
}

.title {
  color: var(--primary);
  font-weight: 700;
  font-family: "Poppins", sans-serif;
}

.title2 {
  color: var(--primary);
  font-size: 22px;
}

.intro {
  color: #8789a3;
}

.card {
  width: 350px;
  height: 200px;
  box-shadow: 0 5px 14px 0 rgb(65 69 88 / 10%),
    0 20px 24px -20px rgb(0 0 0 / 10%);
  border-radius: 15px;
  background-image: linear-gradient(rgba(4, 9, 30, 0.3), rgba(4, 9, 30, 0.7)),
    url(@/assets/images/readingquran.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}

.nav-surah {
  width: 390px;
  height: max-content;
  overflow-y: scroll;
  overflow-x: hidden;
  cursor: pointer;
  z-index: 1;
}

@media only screen and (min-width: 480px) {
  .card {
    width: 450px;
    height: 200px;
    background-size: 350px;
    background-size: cover;
  }

  .title {
    font-weight: 800;
    color: #9345f2;
    left: 6.5em;
    bottom: 35px;
  }
}

.title {
  color: var(--primary);
  font-weight: 700;
  font-family: "Poppins", sans-serif;
}

::-webkit-scrollbar {
  width: 0px;
}

.list {
  height: 85px;
  box-shadow: 0 1px 2px 1px rgb(65 69 88 / 10%);
  border-radius: 10px;
}

.list-kota {
  border-radius: 10px;
  transition: 0.3s ease;
  font-size: 15px;
  color: #000;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  box-shadow: 0 1px 0px 1px rgb(65 69 88 / 10%);
}

.list-kota:hover {
  color: #9345f2;
}

.list-detail {
  height: max-content;
  border-radius: 10px;
  /* border: 1px dashed black; */
  border-top: none;
  box-shadow: 0 1px 2px 1px rgb(65 69 88 / 10%);
  color: #000;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  font-size: 13px;
}

@media only screen and (min-width: 480px) {
  .nav-surah {
    width: 480px;
    height: max-content;
    overflow-y: scroll;
  }

  ::-webkit-scrollbar {
    width: 0px;
  }
}

.surah-ke {
  top: 15px;
  width: 50px;
  height: 50px;
  padding: 30px;
  background-image: url(@/assets/images/vector2.png);
  background-repeat: no-repeat;
  background-position-y: 12px;
  background-position-x: 12px;
  font-weight: 900;
  font-size: 12px;
  color: #000;
}

.surah {
  /* border: 1px solid black; */
  right: 50px;
  height: 80px;
  width: 150px;
}

.surah .one {
  position: relative;
  top: 20px;
  font-weight: 900;
  font-size: 15px;
  color: #000;
  margin-top: 7px;
  font-family: "Poppins", sans-serif;
}

.surah .two {
  position: relative;
  top: 1px;
  font-size: 12px;
  font-style: italic;
  color: #000;
}

.ayat {
  top: 25px;
  font-size: 18px;
  left: 20px;
  font-weight: 800;
  color: #9345f2;
  font-family: LPMQ Isep Misbah;
  margin-top: 10px;
}

/* detail surah */
.detail-surah {
  overflow-y: scroll;
  overflow-x: hidden;
  padding-bottom: 2em;
}

.detail-row {
  width: 22em;
  height: max-content;
  box-shadow: 0 1px 2px 1px rgb(65 69 88 / 10%);
  border-radius: 10px;
}

.number {
  background: linear-gradient(to right, #b9a2d8, #9345f2);
  /* box-shadow: 1px 4px 5px 1px rgba(151, 97, 218, 0.88); */
  padding: 1px;
  border-radius: 30px;
  height: 40px;
}

.number .verses {
  margin-top: 7px;
  margin-left: -5px;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  color: black;
  opacity: 1;
  font-size: 13px;
  background-image: url(@/assets/images/vector2.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.change-surah {
  position: fixed;
  top: 0.5em;
  width: 22em;
  padding: 5px 10px;
  border-radius: 20px;
  z-index: 4;
  background: linear-gradient(to right, #9345f2, #b9a2d8);
  box-shadow: 1px 4px 5px 1px rgba(151, 97, 218, 0.88);
}

.basmalah {
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  margin: auto;
  font-size: 20px;
}

.basmalah a {
  color: black !important;
}

.detail-s .arti {
  color: #000;
  font-size: 13px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

.detail-s .surah-detail {
  text-align: right;
  margin-top: 20px;
  font-size: 25px;
  word-spacing: 5px;
  color: #000;
  font-family: LPMQ Isep Misbah;
  font-weight: 700;
  line-height: 50px;
}

.surah-name {
  margin-left: 5.5em;
  margin-top: 1em;
  color: #fff;
}

@media only screen and (min-width: 480px) {
  .change-surah {
    width: 28em;
  }

  .surah-name {
    margin-left: 6.5em;
    margin-top: 1em;
    color: #fff;
  }

  .detail-surah {
    height: 99vh;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  .detail-row {
    width: 28em;
    height: max-content;
  }

  .detail-row {
    width: 27em;
    height: max-content;
    box-shadow: 0 1px 2px 1px rgb(65 69 88 / 10%);
    border-radius: 10px;
  }
}

/* search */
.nav-top {
  width: 390px;
  height: 60px;
  margin: auto;
  border-bottom: 1px solid rgba(0, 0, 0, 0.117647);
  background-repeat: no-repeat;
  background-size: 50px;
  background-position-x: 20em;
  background-position-y: 5px;
}

@media only screen and (min-width: 480px) {
  .nav-top {
    width: 500px;
    height: 60px;
    margin: auto;
    border: 1px solid rgba(0, 0, 0, 0.117647);
    background-position-x: 27em;
  }

  .input:focus,
  .input:not(:invalid) {
    width: 470px !important;
    cursor: text;
    /* box-shadow: 0px 0px 0px #0e0e0e, 0px 0px 0px rgb(95 94 94 / 25%),
    inset 1.5px 1.5px 3px #0e0e0e, inset -1.5px -1.5px 3px #5f5e5e; */
  }
}

::placeholder {
  color: #fff;
}

.search {
  position: fixed;
  --size-button: 40px;
  z-index: 3;
}

.input {
  padding-left: var(--size-button);
  height: var(--size-button);
  font-size: 15px;
  border: none;
  color: #fff;
  outline: none;
  width: var(--size-button);
  transition: all ease 0.3s;
  background-color: #672cbc;
  box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px,
    rgba(0, 0, 0, 0.117647) 0px 1px 4px;
  border-radius: 50px;
  cursor: pointer;
}

.input:focus,
.input:not(:invalid) {
  width: 365px;
  cursor: text;
}

.input:focus + .icon,
.input:not(:invalid) + .icon {
  pointer-events: all;
  cursor: pointer;
}

.search .icon {
  position: absolute;
  width: var(--size-button);
  height: var(--size-button);
  bottom: 2px;
  left: 2px;
  padding: 8px;
  pointer-events: none;
}

.search .icon svg {
  width: 100%;
  height: 100%;
}

/* todo */
.header-todo {
  width: 100%;
  padding-bottom: 5px;
  border-bottom: 1px solid #9345f2;
}

.right {
  position: relative;
  top: 2px;
  left: 5px;
  animation: right 3s linear infinite;
}

@keyframes right {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* doaharian */
.doa-harian {
  font-family: LPMQ Isep Misbah !important;
  letter-spacing: 1px;
}

/* menu-list */
.alquran {
  height: 150px;
  border-radius: 16px;
  background-image: url(../images/quran.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.doa-doa {
  height: 180px;
  border-radius: 16px;
  background-image: url(../images/berdoa.png);
  background-size: 200px;
  background-position-y: 3em;
  background-repeat: no-repeat;
}

.doa-doa img {
  width: 150px;
  position: relative;
  left: 11em;
  top: 0.5em;
}

.jadwalshalat {
  height: 150px;
  border-radius: 16px;
  background-image: url(../images/sujud.png);
  background-size: 350px;
  background-position-y: 3em;
  background-position-x: -5.5em;
  background-repeat: no-repeat;
}

.tafsir {
  height: 180px;
  border-radius: 16px;
  background-image: url(../images/quran3d.png);
  background-repeat: no-repeat;
  background-position-y: 30px;
  background-position-x: 15px;
  background-size: 130px;
}

.asmaul {
  height: 150px;
  border-radius: 16px;
  background-image: url(../images/allah.png);
  background-repeat: no-repeat;
  background-size: 220px;
  background-position-y: -80px;
  background-position-x: 1em;
}

.notes {
  height: 150px;
  border-radius: 16px;
  background-image: url(../images/notes.png);
  background-repeat: no-repeat;
  background-position-x: 1em;
  background-position-y: 2em;
  background-size: 150px;
}

.dzikir {
  height: 150px;
  border-radius: 16px;
  background-image: url(../images/tasbih.png);
  background-repeat: no-repeat;
  background-position-x: -2em;
  background-position-y: 1em;
  background-size: cover;
}

.menu p {
  color: #000;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  font-size: 13px;
}

.menu h1 {
  color: #000;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
}

@media only screen and (min-width: 480px) {
  .alquran img {
    width: 150px;
    position: relative;
    left: 17em;
    top: 0.5em;
  }
}

/* detail-sholat */

.schedule {
  width: 370px;
  padding: 15px 0px;
  border-radius: 20px;
  box-shadow: 1px 2px 14px -7px rgba(0, 0, 0, 0.75);
}

.prayerS {
  width: 370px;
  height: 230px;
  border: 1px solid transparent;
  border-radius: 20px;
  background-image: linear-gradient(rgba(4, 9, 30, 0.3), rgba(4, 9, 30, 0.6)),
    url(../images/jadwal.png);
  background-size: cover;
  box-shadow: 1px 2px 14px -7px rgba(0, 0, 0, 0.75);
}

.prayerS h2 {
  color: white;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  margin-top: 3em;
}

.prayerS .h4 {
  color: white;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  letter-spacing: 2px;
  font-size: 15px;
}

.waktu-border {
  border-bottom: 1px solid var(--primary);
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

@media only screen and (min-width: 480px) {
  .prayerS {
    width: 470px;
    height: 260px;
  }

  .schedule {
    width: 470px;
  }
}

/* set-audio */
audio {
  width: 100px;
  height: 30px;
  border-radius: 20px;
  box-shadow: 0.5px 0.5px 5px 0px rgba(0, 0, 0, 0.75);
}
audio::-webkit-media-controls-enclosure {
  max-width: none;
}
audio::-webkit-media-controls-panel {
  background: linear-gradient(to bottom right, #df98fa, #9055ff);
}
audio::-webkit-media-controls-play-button {
  margin-left: 5px;
  color: white;
}
audio::-webkit-media-controls-mute-button {
  display: none;
}
audio::-webkit-media-controls-current-time-display,
audio::-webkit-media-controls-time-remaining-display {
  display: none;
}
audio::-webkit-media-controls-timeline {
  display: none;
}
audio::-webkit-media-controls-timeline-container {
  display: none;
}
audio::-webkit-media-controls-toggle-closed-captions-button {
  display: none;
}
audio::-webkit-media-controls-return-to-realtime-button {
  display: none;
}
audio::-webkit-media-controls-rewind-button {
  display: none;
}
